<!DOCTYPE html>
<html>
	<head>
		<title>KAFKAESQUE | Home</title>
		<link rel="stylesheet" href="../style.css">
		<link rel="icon" type="image/png" href="/img/Logo_maroon.png">
	</head>
		
	<body>
		<nav>
			<div class="logo" onclick="window.location.href='/html/home.html'">
			  <img class="nav-img" src="/img/Logo_white.png" alt="KAFKAESQUE Logo">
			  <span class="nav-logoname">KAFKAESQUE</span>
			</div>
		  
			<div style="display: flex">
				<img class="search-icon" src="/img/Search.png" style="float:right;" onclick="window.location.href='search.html';">
				<div class="nav-profile" onclick="navigateToUserProfile()">
				<span class="nav-profilename"></span>
				<img class="nav-img" id="nav-user" src="/img/pfp.png" alt="Profile Picture" style="margin-right: 0; padding-right: 0;">
				</div>
			</div>	
		  
			<script>
				let loggedInUsername = null;

				async function fetchUserDetails() {
					try {
					const profileResponse = await fetch('/api/profile');
					const profileData = await profileResponse.json();

					if (profileResponse.status === 200) {
						const usernameElement = document.querySelector('.nav-profilename');
						const profilePictureElement = document.querySelector('#nav-user');

						loggedInUsername = profileData.data.username;

						usernameElement.textContent = profileData.data.username;
						profilePictureElement.src = profileData.data.profilepicture;

						const upvotedPosts = profileData.data.upvotedPosts;
						const downvotedPosts = profileData.data.downvotedPosts;

						const urlPage = new URLSearchParams(window.location.search);
    					const page = parseInt(urlPage.get('page')) || 1;

						loadPosts(activeSortOption, page, 5, upvotedPosts, downvotedPosts);
					} else {
						console.log('User not authenticated or user details not found');
					}
					} catch (error) {
					console.error('Error fetching user details:', error);
					}
				}
		  
				document.addEventListener('DOMContentLoaded', fetchUserDetails);
			</script>
		</nav>
		  
		
		<main class="main-padding">
			<section class="col-trending">
				<span>Trending Games</span><br>
				
				<div class="trending-list">
					<a href="https://www.youtube.com/watch?v=1INU3FOJsTw&ab_channel=StreetFighter"><img src="../img/trending/1.png" class="ind-game"></a><br>
					<a href="https://www.youtube.com/watch?v=XPYqvSRWkx4&ab_channel=Honkai%3AStarRail"><img src="../img/trending/2.png" class="ind-game"></a><br>
					<a href="https://www.youtube.com/watch?v=hCgiwsIUI4g&ab_channel=GameSpot"><img src="../img/trending/3.png" class="ind-game"></a><br>
					<a href="https://www.youtube.com/watch?v=kJawWyRUOBM&ab_channel=GameSpot"><img src="../img/trending/4.png" class="ind-game"></a><br>
					<a href="https://www.youtube.com/watch?v=_ckLOyVEVVs&ab_channel=GameSpot"><img src="../img/trending/5.png" class="ind-game"></a><br>
				</div>
			</section>
			
			<section class="col-main">
				<form method="POST" id="post-form" enctype="multipart/form-data">
					<textarea name="post-title" class="post-title" wrap="soft" maxlength="58" placeholder="Insert a catchy title..." required></textarea><br>
					<div class="checkbox-tags">
						<div class="category">
							<input type="checkbox" name="categories" value="Action" id="tag-action">
							<label for="tag-action">Action</label>
						</div>
						<div class="category">
							<input type="checkbox" name="categories" value="Action-Adventure" id="tag-action-adventure">
							<label for="tag-action-adventure">Action-Adventure</label>
						</div>
						<div class="category">
							<input type="checkbox" name="categories" value="Adventure" id="tag-adventure">
							<label for="tag-adventure">Adventure</label>
						</div>
						<div class="category">
							<input type="checkbox" name="categories" value="Board Games" id="tag-boardgames">
							<label for="tag-boardgames">Board Games</label>
						</div>
						<div class="category">
							<input type="checkbox" name="categories" value="Gacha" id="tag-gacha">
							<label for="tag-gacha">Gacha</label>
						</div>
						<div class="category">
							<input type="checkbox" name="categories" value="MMO" id="tag-mmo">
							<label for="tag-mmo">MMO</label>
						</div>
						<div class="category">
							<input type="checkbox" name="categories" value="Platformer" id="tag-platformer">
							<label for="tag-platformer">Platformer</label>
						</div>
						<div class="category">
							<input type="checkbox" name="categories" value="Puzzle" id="tag-puzzle">
							<label for="tag-puzzle">Puzzle</label>
						</div>
						<div class="category">
							<input type="checkbox" name="categories" value="Role-Playing" id="tag-role-playing">
							<label for="tag-role-playing">Role-Playing</label>
						</div>
						<div class="category">
							<input type="checkbox" name="categories" value="Simulation" id="tag-simulation">
							<label for="tag-simulation">Simulation</label>
						</div>
						<div class="category">
							<input type="checkbox" name="categories" value="Strategy" id="tag-strategy">
							<label for="tag-strategy">Strategy</label>
						</div>
					</div>
					<div class="post-align">
						<textarea name="post-textbox" class="post-textbox" placeholder="Rules are meant to be broken" required></textarea>
						<input type="submit" class="post-btn" value="Post">
					</div>
					<input type="file" name="image" class="accept-img" accept="image/*">
				</form><br>
				
				
				<hr><br>
			
				<script>
					const form = document.getElementById('post-form');
					form.addEventListener('submit', handleSubmit);

					async function handleSubmit(event) {
						event.preventDefault();

						const title = document.querySelector('.post-title').value;
						const description = document.querySelector('.post-textbox').value;
						const imageFile = document.querySelector('.accept-img').files[0];

						const selectedCategories = [];
						const categoryCheckboxes = document.querySelectorAll('.category input[type="checkbox"]:checked');
						categoryCheckboxes.forEach(checkbox => {
							selectedCategories.push(checkbox.value);
						});

						if (!title || !description) {
							alert('Please provide both title and description for your post.');
							return;
						}

						const formData = new FormData();
						formData.append('title', title);
						formData.append('description', description);
						if (imageFile) {
							formData.append('image', imageFile);
						}
						formData.append('categories', JSON.stringify(selectedCategories));

						try {
							const response = await fetch('/api/add-post', {
								method: 'POST',
								body: formData,
							});

							if (response.ok) {
								alert('Your post has been shared!');
								window.location.reload();
								loadPosts();
							} else {
								alert('Failed to add post. Please try again later.');
							}
						} catch (error) {
							console.error('Error adding post:', error);
							alert('An error occurred. Please try again later.');
						}
					}

				</script>

				<div class="post-rank">
					<button class="popular-btn" id="popularBtn">
						<span class="btn-content">Popular</span>
					</button>
					<button class="newest-btn" id="newestBtn">
						<span class="btn-content">Newest</span>
					</button>
					
				</div><br>

				<div id="postContainer">
					<!-- Posts are added here -->			
				</div>

				<br><hr><br>

				<div class="pagination">
					<a id="previousPageLink" href="?page=1">&laquo; Previous</a>
					<div id="currentPage"></div>
					<a id="nextPageLink" href="?page=2">Next &raquo;</a>
				</div>	
			</section>	
			
			<section class="col-cat">
				<span class="cat-title">Categories</span><br>
				<span class="cat-ind">Action</span><br>
				<span class="cat-ind">Action-Adventure</span><br>
				<span class="cat-ind">Adventure</span><br>
				<span class="cat-ind">Puzzle</span><br>
				<span class="cat-ind">Role-Playing</span><br>
				<span class="cat-ind">Simulation</span><br>
				<span class="cat-ind">Strategy</span><br>
				<span class="cat-ind">MMO</span><br>
				<span class="cat-ind">Platformer</span><br>
				<span class="cat-ind">Board Games</span><br>
				<span class="cat-ind">Gacha</span><br>			
			</section>
		</main>
		
		<script>
			let activeSortOption = 'newest';
			const postContainer = document.getElementById('postContainer');
			
			const updatedViews = {}; // Keep track of updated views to prevent multiple updates

			async function loadPosts(sortBy = 'newest', page = 1, limit = 15, upvotedPosts = [], downvotedPosts = []) {
				try {
					let sortOption = sortBy === 'popular' ? 'popular' : 'newest';

					const response = await fetch(`/api/displayPosts/${sortBy}?page=${page}`);

					const postsData = await response.json();
					if (!Array.isArray(postsData)) {
						console.error('Invalid posts data. Expected an array.');
						return;
					}

					postContainer.innerHTML = '';


					postsData.forEach(data => {
						const postElement = document.createElement('div');
						postElement.className = 'ind-post';
						postElement.dataset.postId = data._id;

						let tagsHTML = '';
						if (data.tags !== null) {
							const tagsArray = data.tags.map(tag => `#${tag}`);
							tagsHTML = tagsArray.join(' ');
						}

						const userUpvoted = upvotedPosts.includes(data._id);
						const userDownvoted = downvotedPosts.includes(data._id);

						postElement.innerHTML = `
							<div class="post-details-container">
								${data.image ? `
								<div class="ind-imgcontainer">
									<img class="ind-img" src="${data.image}">
								</div>
								` : ''}

								<section style="width: 60%;">
									<h2 class="ind-title">${data.title}</h2>
									<h4>${tagsHTML}</h4>
									<span class="text-preview">${getSnippet(data.description)}</span><br>
									<div class="post-inter">
										<img src="/img/posts/views.png" style="width: 0.8rem; vertical-align: middle;">
										<span style="vertical-align: middle;">${data.views}</span>
										<img src="/img/posts/comments.png" style="width: 0.7rem; vertical-align: middle;">
										<span style="vertical-align: middle;">${data.commentsCount}</span>
										<span style="vertical-align: middle;">&nbsp • &nbsp ${new Date(data.createdAt).toLocaleDateString()}</span>
									</div><br>
									<span class="post-username">${data.username}</span>
								</section>
							</div>
								
							<div class="vote-container">
								<span class="upvote-count">${data.upvotes}</span>
								<button class="vote-button upvote ${userUpvoted ? 'voted' : ''}">
									<img class="upvote-image" src="/img/posts/upvote.png" alt="Upvote">
								</button>
								<button class="vote-button downvote ${userDownvoted ? 'voted' : ''}">
									<img class="downvote-image" src="/img/posts/downvote.png" alt="Downvote">
								</button>
								<span class="downvote-count">${data.downvotes}</span>
							</div>
						`;

						// Update the postContainer
						postContainer.appendChild(postElement);

						// Call the function and pass the postId as an argument
						attachVoteEventListeners(postElement);
						attachTitleClickListeners();
						attachUsernameClickListeners();
					});

					const popularBtn = document.getElementById('popularBtn');
					const newestBtn = document.getElementById('newestBtn');

					if (sortBy === 'popular') {
						popularBtn.classList.add('active');
						newestBtn.classList.remove('active');
					} else {
						popularBtn.classList.remove('active');
						newestBtn.classList.add('active');
					}

					// Update the page links
					const posts = await fetch(`/api/totalposts`);

					const totalposts = await posts.json();
					const totalPages = Math.ceil(totalposts / 15); // limit

					const previousPageLink = document.getElementById('previousPageLink');
					const nextPageLink = document.getElementById('nextPageLink');

					if (page === 1) {
						previousPageLink.href = `?sort=${activeSortOption}&page=${page}`;
					} else {
						previousPageLink.href = `?sort=${activeSortOption}&page=${page - 1}`;
					}

					if (page === totalPages) {
						nextPageLink.href = `?sort=${activeSortOption}&page=${page}`;
					} else {
						nextPageLink.href = `?sort=${activeSortOption}&page=${page + 1}`;
					}

					// Update the page number
					const pageNumber = document.getElementById('currentPage');
					pageNumber.innerText = page;

				} catch (error) {
					console.error('Error fetching posts:', error);
				}
			}

			function getSnippet(text) {
				const MAX_SNIPPET_LENGTH = 100;
				if (text.length > MAX_SNIPPET_LENGTH) {
					return text.substring(0, MAX_SNIPPET_LENGTH) + '...';
				}
				return text;
			}

			function toggleSortButtons() {
				const popularBtn = document.getElementById('popularBtn');
				const newestBtn = document.getElementById('newestBtn');

				popularBtn.classList.toggle('active');
				newestBtn.classList.toggle('active');

				activeSortOption = popularBtn.classList.contains('active') ? 'popular' : 'newest';

				const url = new URL(window.location.href);
				url.searchParams.set('sort', activeSortOption);
				url.searchParams.set('page', '1');
				history.pushState(null, null, url);
				
				loadPosts(activeSortOption, 1);
			}

			async function updatePostViews(postId) {
				try {
					await fetch(`/api/views/${postId}`, {
						method: 'PATCH',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({}),
					});
				} catch (error) {
					console.error('Error updating post views:', error);
				}
			}
			
			function attachVoteEventListeners(voteContainer) {
				const upvoteButton = voteContainer.querySelector(".upvote");
				const downvoteButton = voteContainer.querySelector(".downvote");
				const upvoteCount = voteContainer.querySelector(".upvote-count");
				const downvoteCount = voteContainer.querySelector(".downvote-count");

				let upvoteCounter = parseInt(upvoteCount.textContent);
				let downvoteCounter = parseInt(downvoteCount.textContent);

				// Function to find the postId from the voteContainer
				function findPostId() {
					const postContainer = voteContainer.closest(".ind-post");
					if (postContainer) {
					return postContainer.dataset.postId;
					}
					return null;
				}

				upvoteButton.addEventListener("click", async () => {
					try {
					const postId = findPostId(); // Get the postId from the dataset attribute

					if (upvoteButton.classList.contains("voted")) {
						// User has already upvoted, decrement the counter and remove the vote
						upvoteCounter--;
						upvoteButton.classList.remove("voted");
						localStorage.removeItem(`${postId}_vote`);

						// Send an HTTP PATCH request to remove the upvote from the server
						await fetch(`/api/posts/${postId}/vote`, {
						method: "PATCH",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify({ voteType: "remove_upvote" }),
						});
					} else {
						// User is upvoting, increment the counter and set the vote
						upvoteCounter++;
						upvoteButton.classList.add("voted");
						localStorage.setItem(`${postId}_vote`, "upvote");
						localStorage.removeItem(`${postId}_downvote`);

						// If downvoteButton is active, decrease its counter and remove the downvote
						if (downvoteButton.classList.contains("voted")) {
							downvoteCounter--;
							downvoteButton.classList.remove("voted");

							await fetch(`/api/posts/${postId}/vote`, {
								method: "PATCH",
								headers: {
								"Content-Type": "application/json",
								},
								body: JSON.stringify({ voteType: "remove_downvote" }),
							});
						}

						// Send an HTTP PATCH request to remove the downvote and add an upvote to the server
						await fetch(`/api/posts/${postId}/vote`, {
							method: "PATCH",
							headers: {
							"Content-Type": "application/json",
							},
							body: JSON.stringify({ voteType: "upvote" }),
						});
					}

					// Update the vote count elements
					upvoteCount.textContent = upvoteCounter.toString();
					downvoteCount.textContent = downvoteCounter.toString();
					} catch (error) {
					console.error("Error upvoting post:", error);
					}
				});

				downvoteButton.addEventListener("click", async () => {
					try {
					const postId = findPostId(); // Get the postId from the dataset attribute

					if (downvoteButton.classList.contains("voted")) {
						// User has already downvoted, decrement the counter and remove the vote
						downvoteCounter--;
						downvoteButton.classList.remove("voted");
						localStorage.removeItem(`${postId}_vote`);
						// Send an HTTP PATCH request to remove the downvote from the server
						await fetch(`/api/posts/${postId}/vote`, {
						method: "PATCH",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify({ voteType: "remove_downvote" }),
						});
					} else {
						// User is downvoting, increment the counter and set the vote
						downvoteCounter++;
						downvoteButton.classList.add("voted");
						localStorage.setItem(`${postId}_vote`, "downvote");
						localStorage.removeItem(`${postId}_upvote`);

						// If upvoteButton is active, decrease its counter and remove the upvote
						if (upvoteButton.classList.contains("voted")) {
						upvoteCounter--;
						upvoteButton.classList.remove("voted");

						await fetch(`/api/posts/${postId}/vote`, {
							method: "PATCH",
							headers: {
							"Content-Type": "application/json",
							},
							body: JSON.stringify({ voteType: "remove_upvote" }),
						});
						}

						// Send an HTTP PATCH request to remove the upvote and add a downvote to the server
						await fetch(`/api/posts/${postId}/vote`, {
							method: "PATCH",
							headers: {
							"Content-Type": "application/json",
							},
							body: JSON.stringify({ voteType: "downvote" }),
						});
					}

					// Update the vote count elements
					upvoteCount.textContent = upvoteCounter.toString();
					downvoteCount.textContent = downvoteCounter.toString();
					} catch (error) {
					console.error("Error downvoting post:", error);
					}
				});

				// Check the local storage for user vote when attaching event listeners
				const postId = findPostId();
				const userVote = localStorage.getItem(`${postId}_vote`);

				if (userVote === "upvote") {
					upvoteButton.classList.add("voted");
				} else if (userVote === "downvote") {
					downvoteButton.classList.add("voted");
				}
			}

			function attachTitleClickListeners() {
				const postTitles = document.querySelectorAll('.ind-title');

					postTitles.forEach((titleElement) => {
					titleElement.addEventListener('click', (event) => {
						event.preventDefault();
						const postElement = titleElement.closest('.ind-post');
						const postId = postElement.dataset.postId;
						if (!updatedViews[postId]) {
							updatedViews[postId] = true; // Mark views as updated
							updatePostViews(postId);
						}
						navigateToPost(postId);
					});
				});
			}

			function navigateToUserProfile() {
				if (loggedInUsername) {
					const userProfileUrl = `/html/profile.html?username=${encodeURIComponent(loggedInUsername)}`;
					window.location.href = userProfileUrl;
				} else {
					console.error('User is not logged in. Unable to redirect to the profile.');
				}
			}

			// Function to handle navigation to a single post
			function navigateToPost(postId) {
				const postUrl = `/html/post.html?postId=${encodeURIComponent(postId)}`;
				window.location.href = postUrl;
			}
				
			function navigateToProfiles(username) {
				const userProfileUrl = `/html/profile.html?username=${encodeURIComponent(username)}`;
				window.location.href = userProfileUrl;
			}

			// Function to add click event listeners to the post-username elements
			function attachUsernameClickListeners() {
				const postUsernames = document.querySelectorAll('.post-username');

				postUsernames.forEach((usernameElement) => {
					usernameElement.addEventListener('click', (event) => {
						event.preventDefault();
						const username = event.target.textContent;
						navigateToProfiles(username);
					});
				});
			}

			document.addEventListener('DOMContentLoaded', () => {
				const popularBtn = document.getElementById('popularBtn');
				const newestBtn = document.getElementById('newestBtn');

				const urlSort = new URLSearchParams(window.location.search);
				const sortFromUrl = urlSort.get('sort');
				activeSortOption = sortFromUrl || 'newest';
				
				popularBtn.querySelector('.btn-content').addEventListener('click', () => {
					if (!popularBtn.classList.contains('active')) { // Check if not already active
						toggleSortButtons();
					}
				});

				newestBtn.querySelector('.btn-content').addEventListener('click', () => {
					if (!newestBtn.classList.contains('active')) { // Check if not already active
						toggleSortButtons();
					}
				});

			});

		</script>
	</body>
</html>